.jumbotron {
    margin-top: 2em;
    background: transparent;
    color: #fff
}
body {
   background: url('http://www.unforgettablehoneymoons.com/uploads/galleries/galleries_87_image_lg.jpg') no-repeat 0 0;
   background-size: 100%;
}
.searchInfo {
    margin-top: 4em;
}
#freeVirus {
    margin-top: 6em;
}
.yelp {
    max-height: 350px;
    max-width: 320px;
}
button.stripped:nth-of-type(even){
    background-color: #F9F9F9;   
}
.btm {
    margin-bottom: 2em;
}