.jumbotron {
    margin-top: 2em;
    background: transparent;
    color: #fff
}
body {
   background: url('http://www.unforgettablehoneymoons.com/uploads/galleries/galleries_87_image_lg.jpg') no-repeat 0 0;
   background-size: 100%;
}
.invis {
    color: transparent;
}