<!DOCTYPE html>
<html lang="en" ng-app="travelApp">

<head>
    <title>Travel App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-info" ng-controller="travelCtrl as vm">
    <div class="container">
        <!--jumbotron with "company" name-->
        <div class="jumbotron text-white">
            <h1 class="display-2">CB Travel App</h1>
            <p class="lead"> An app to find the weather and food of your destination</p>
        </div>

        <!--Search input with button-->
        <div class="formContent text-center ">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="vm.flightNumber" aria-label="...">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.onActivate(vm.flightNumber)">Get Info About Flight: {{vm.flightNumber}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Search input with button-->





        <!--form content/panels -->
        <div class="col-md-12 searchInfo">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flight/Airport Status and info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-show="vm.info">
                            <h1 class="text-center">{{vm.airportName}}</h1>
                            <!--Array Name .city (So it can read Denver) -->
                            <hr>

                            <div class="col-sm-4">
                                <p class="text-center"><strong>Average Delay</strong></p>
                                <p class="text-success text-center"><strong>{{vm.avgDelay}}</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Closures</strong></p>
                                <p class="text-success text-center"><strong>None</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Reason</strong></p>
                                <p class="text-success text-center"><strong>{{vm.reason}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Weather</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" ng-show="vm.info">
                            <h1 class="text-center">list.0.coord.lat, list.0.coord.long</h1>
                            <hr>

                            <div class="col-sm-4">
                                <p class="text-center"><strong>Temperature</strong></p>
                                <p class="text-success text-center"><strong>list.0.main.</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Humidity</strong></p>
                                <p class="text-success text-center"><strong>list.0.main.humidity</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Temperature (F)</strong></p>
                                <p class="text-success text-center"><strong>list.0.main.temp</strong></p>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.info">
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Lowest Temp (F)</strong></p>
                                <p class="text-success text-center"><strong>list.0.main.temp_min</strong></p>

                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Highest Temp (F)</strong></p>
                                <p class="text-success text-center"><strong>list.0.main.temp_max</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Wind Speed</strong></p>
                                <p class="text-success text-center"><strong>list.0.wind.speed</strong></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Yelp</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" ng-show="vm.info">
                            <h1 class="text-center">Top 20 Restaurants</h1>
                            <hr>
                            <!--************************************
                            might have to change this ng-click pulled from my pokedex but it sets the url to the button. URL was part of the response.data
                            ************************************-->
                            <ul class="list-group col-md-12">
                                <button  ng-click="" ng-repeat="business in vm.businesses" class="list-group-item">
                                    {{vm.businesses[$index].name}}
                                </button>
                            </ul>
                            <!--************************************-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Selected yelp info</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" ng-show="vm.info">
                            #arrayInBIZ.image_url <!--IMG might need to wrap in a div with .text-center-->
                            <h4 class="text-center">#arrayInBIZ.name</h4>
                            <hr>

                            <div class="col-sm-4">
                                <p class="text-center"><strong></strong></p>
                                <p class="text-success text-center"><strong>#arrayInBIZ</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>Rating</strong></p>
                                <p class="text-success text-center"><strong>#arrayInBIZ.rating/price</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center"><strong>About</strong></p>
                                <p class="text-success text-center"><strong>#arrayInBIZ.location.address 1 arrayInBIZ.location.display_address[1]</strong></p>
                                <p class="text-success text-center"><a src="...">Go to Website</a></p>
                                <!--   {{#arrayinBIZ.url}}     goes here!    ^        -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--form content/panels -->



        <!--"NewsLetter" input-->
        <div class="col-lg-6 col-md-offset-3" id="freeVirus">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter email for a free virus er News Letter! How do I backspace?">
                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" ng-click="vm.clickVid()"> <a id="play-video" href="#">Yes Please!</a></button>
                </span>
            </div>
        </div>
        <!--"NewsLetter" input-->


        <!--trollolololol-->
        <div class="col-md-6 col-md-offset-3 text-center">
            <div ng-show="vm.show" class="embed-responsive embed-responsive-16by9">
                <iframe id="video" style="max-width:560px; max-height: 325px;" class="embed-responsive-item text-center" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0&amp;showinfo=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!--trollolololol-->




        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app/app.module.js"></script>
        <script src="app/app.controller.js"></script>
        <script src="app/app.factory.js"></script>
        <script src="app/app.js"></script>

</body>

</html>